<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="list.js"></script>
</head>
<h3>Create new Category Form</h3>
<form id="add-category">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name" id="name" placeholder="name"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add" onclick="addNewCategory()"></td>
        </tr>
    </table>
</form>
<form id="edit-category"></form>

<h1>Category List</h1>
<table id="categoryList"></table>
</html>